.news {
    .news-title {
        @include text($font-size-2xl, $text-news-title);
    }

    .new-time {
        .new-time__item {
            @include text($font-size-m, $text-silver);
            margin-right: 30px;

            @include responsive(mobile) {
                margin-right: 10px;
            }

            i {
                @include text($font-size-m, $main-color);
            }
        }
    }

    .news-desc {
        @include text($font-size-m, $text-main-fading);
        margin: 10px 0 50px 0;
    }
}
